#logo {
	width:760px;
	height:200px;
	overflow:hidden;
	padding-top: 27px;
	padding-left: 24px;
	/*background-color: #D73438;*/
}
#DivPai div{
	display:none;

}

#navbar {
  list-style-type: none;
  margin: 1px;
  padding: 0;
  overflow: hidden;
  background-color: #30446e/*#333*/;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f93135/*#111*/;
}

.active {
	background-color: #D73438/*#4CAF50*/;
}

#pagina{

	padding:10px;
	margin-top:0px;
	background-color: #f5f5f5/*#1abc9c*/;
	height:600px;
	

}
#sair{
	position: absolute;
	right: 16px;
}
#formulario{
	margin: auto;
	
}

canvas#myChart {
  background-color: #fff;
}

body {
	margin: 0;
}




